 *{
 margin=0px;
 padding:0px;
 box-sizing:border-box;
 }
 body{
      margin: 0px;
      
    }
    .bg1{
      background-image: linear-gradient(to bottom, #FF9933,#ffffff,#138808);
      height: 100vh; 
      width=100%;
      background-repeat: no-repeat;
      background-size: cover;
      display:flex;
      justify-content:center;
      align-items:center;
      
    }
    .pro{
      height:100px;
      width:200px;
      background-color:rgba(0,0,255,0.5);
      border-radius: 15px;
      display:flex;
      flex-direction:coloun;
      align-items:center;
      
    }
    .dp{
    height=40px; widht=40px;
    background-color:red;
    
    background-image:url('https://media-exp1.licdn.com/dms/image/D4D35AQFTbLqJYWGaLQ/profile-framedphoto-shrink_200_200/0/1656918518151?e=1660474800&v=beta&t=t7zrRbmiNmU-0fDa47CNBi9l-bmqYxjBBuWSvEzejpU');
    
    }